/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype nucl'
    }

    withName: 'BLAST_BLASTN' {
        ext.args = "-task blastn -outfmt \"6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qlen slen sseq\" -max_target_seqs 1 -max_hsps 1 -qcov_hsp_perc ${params.qcov_hsp_perc}"
        publishDir = [
            path: { "${params.outdir}/blastn_reports" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'PARSE_BLAST_REPORT' {
        ext.args = "--within_group_pident 95.0 --core_perc ${params.core_genome_perc} --qcov_perc ${params.qcov_hsp_perc}"
        ext.prefix = "gene_content"
        publishDir = [
            path: { "${params.outdir}/gene_content" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'EGGNOGMAPPER' {
        ext.args = "--itype CDS --translate"
        ext.prefix = "reference"
        publishDir = [
            path: { "${params.outdir}/functional_analyses" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'PHYLETIC_MATRIX' {
        ext.args = ""
        ext.prefix = "gene_content"
        publishDir = [
            path: { "${params.outdir}/gene_content" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'BLAST2FASTA' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/gene_fastas" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'ALN2ALLELES' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/gene_fastas" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'CGHISTOGRAMS' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/dashboards" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'GROUP_GENE_CONTENT_DIFFERENCES' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/gene_content" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'CROSSTAB_UNIQUE_GENES' {
        ext.args = ""
        ext.prefix = "gene_content_unique"
        publishDir = [
            path: { "${params.outdir}/dashboards" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'CROSSTAB_UNION_GENES' {
        ext.args = ""
        ext.prefix = "gene_content_union"
        publishDir = [
            path: { "${params.outdir}/dashboards" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'SUMMARIZE_ALLELES' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/dashboards" },
            mode: params.publish_dir_mode,
		]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
