/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run wdpb/parasight -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TO-DO: update input filepaths to be abstracted and not hard-coded to CDC data
    input  = '/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/dev/parasight/assets/test.samplesheet.csv'
    reference = '/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/assets/reference_alleles.fasta'
    skip_eggnog = true

    
}
